/bin/
/out/
/cache/
/target/
/archive/
/venv/
/experiments/temp/
/experiments/thesis/data/
/experiments/thesis/chapter2-lr/
/experiments/thesis/chapter3-pf/
/experiments/thesis/chapter4-chief/
/experiments/thesis/chapter5-mee/
/experiments/thesis/chapter6-mpf/
/experiments/thesis/chapter7-others/
/ts_chief.log



### JetBrains ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# Gradle:
.idea/gradle.xml
.idea/libraries

# Mongo Explorer plugin:
.idea/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/
/.idea/
.DS_Store
.idea/workspace.xml
.idea/csv-plugin.xml
/.idea/workspace.xml
/docs/temp/
/docs/jar_archive/
/data/ucr_multivariate_indices/
/data/ucr_univariate_indices/
/data/
/experiments/
