<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="debug" name="ts-chief" packages="">
    <Appenders>
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %p %m%n"/>
        </Console>
    </Appenders>
    <Appenders>
        <File name="fout" fileName="ts-chief.log" append="true">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %m%nw</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="error">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="fout"/>
        </Root>
    </Loggers>
</Configuration>